fastapi
pydantic
httpx
uvicorn
pyotp
python-dotenv
smartapi-python
websocket-client
websockets
numpy
pandas
pybind11
pydantic-settings
ntplib
loguru
logzero
slowapi
pytest
pytest-asyncio
aiosqlite
SQLAlchemy
alembic
openpyxl
PyJWT
passlib
psycopg2-binary
